
.pyx-menu:before { content: '\e800'; } /* '' */
.pyx-arrow_back:before { content: '\e801'; } /* '' */
.pyx-arrow_forward:before { content: '\e802'; } /* '' */
.pyx-check:before { content: '\e803'; } /* '' */
.pyx-close:before { content: '\e804'; } /* '' */
.pyx-add:before { content: '\e805'; } /* '' */
.pyx-circle:before { content: '\e806'; } /* '' */
.pyx-triangle:before { content: '\e807'; } /* '' */
.pyx-square:before { content: '\e808'; } /* '' */
.pyx-pentagon:before { content: '\e809'; } /* '' */
.pyx-hexagon:before { content: '\e80a'; } /* '' */
.pyx-circle_outlined:before { content: '\e80b'; } /* '' */
.pyx-triangle_outlined:before { content: '\e80c'; } /* '' */
.pyx-square_outline:before { content: '\e80d'; } /* '' */
.pyx-pentagon_outline:before { content: '\e80e'; } /* '' */
.pyx-hexagon_outline:before { content: '\e80f'; } /* '' */
.pyx-fast_rewind:before { content: '\e810'; } /* '' */
.pyx-skip_previous:before { content: '\e811'; } /* '' */
.pyx-play_arrow:before { content: '\e812'; } /* '' */
.pyx-skip_next:before { content: '\e813'; } /* '' */
.pyx-fast_forward:before { content: '\e814'; } /* '' */
.pyx-arrow_right:before { content: '\e815'; } /* '' */
.pyx-arrow_left:before { content: '\e816'; } /* '' */
.pyx-arrow_drop_up:before { content: '\e817'; } /* '' */
.pyx-arrow_drop_down:before { content: '\e818'; } /* '' */
.pyx-directions_bus:before { content: '\e819'; } /* '' */
.pyx-directions_transit:before { content: '\e81a'; } /* '' */
.pyx-directions_car:before { content: '\e81b'; } /* '' */
.pyx-search:before { content: '\e81c'; } /* '' */
.pyx-directions_taxi:before { content: '\e81e'; } /* '' */
.pyx-check_box_filled:before { content: '\e81f'; } /* '' */
.pyx-check_box:before { content: '\e820'; } /* '' */
.pyx-check_box_outline_blank:before { content: '\e821'; } /* '' */
.pyx-indeterminate_check_box:before { content: '\e822'; } /* '' */
.pyx-indeterminate_check_box-filled:before { content: '\e823'; } /* '' */
.pyx-mail_outline:before { content: '\e824'; } /* '' */
.pyx-bookmark_outline:before { content: '\e825'; } /* '' */
.pyx-bookmark:before { content: '\e826'; } /* '' */
.pyx-account_circle_filled:before { content: '\e827'; } /* '' */
.pyx-person_outline:before { content: '\e828'; } /* '' */
.pyx-chat_bubble:before { content: '\e829'; } /* '' */
.pyx-chat_bubble_outline:before { content: '\e82a'; } /* '' */
.pyx-light_mode:before { content: '\e82b'; } /* '' */
.pyx-dark_mode:before { content: '\e82c'; } /* '' */
.pyx-delete:before { content: '\e82d'; } /* '' */
.pyx-radio_button_checked:before { content: '\e82e'; } /* '' */
.pyx-radio_button_unchecked:before { content: '\e82f'; } /* '' */
.pyx-star:before { content: '\e830'; } /* '' */
.pyx-star_border:before { content: '\e831'; } /* '' */
.pyx-folder:before { content: '\e832'; } /* '' */
.pyx-navigate_before:before { content: '\e833'; } /* '' */
.pyx-navigate_next:before { content: '\e834'; } /* '' */
.pyx-file_upload:before { content: '\e835'; } /* '' */
.pyx-file_download:before { content: '\e836'; } /* '' */
.pyx-folder_filled:before { content: '\e837'; } /* '' */
.pyx-mobile_friendly:before { content: '\e838'; } /* '' */
.pyx-attach_file:before { content: '\e839'; } /* '' */
.pyx-today:before { content: '\e83a'; } /* '' */
.pyx-mode_edit:before { content: '\e83b'; } /* '' */
.pyx-share:before { content: '\e83c'; } /* '' */
.pyx-cancel:before { content: '\e83d'; } /* '' */
.pyx-keyboard:before { content: '\e83e'; } /* '' */
.pyx-error:before { content: '\e83f'; } /* '' */
.pyx-settings:before { content: '\e840'; } /* '' */
.pyx-settings_filled:before { content: '\e841'; } /* '' */
.pyx-check_small:before { content: '\e842'; } /* '' */
.pyx-check_indeterminate_small:before { content: '\e843'; } /* '' */
.pyx-access_time:before { content: '\e844'; } /* '' */
.pyx-keyboard_return:before { content: '\e845'; } /* '' */
.pyx-sticker:before { content: '\e846'; } /* '' */
.pyx-more:before { content: '\e847'; } /* '' */
.pyx-mic:before { content: '\e848'; } /* '' */
.pyx-language:before { content: '\e849'; } /* '' */
.pyx-translate:before { content: '\e84a'; } /* '' */
.pyx-gif:before { content: '\e84b'; } /* '' */
